In [1]:
import lightgbm as lgb
from init_ulits import *
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
import math

In [2]:
train_data = load_data('tap_fun_train.csv')
test_data = load_data('tap_fun_test.csv')

In [5]:
Y = train_data['prediction_pay_price']
X = train_data.drop(['prediction_pay_price','user_id','register_time'], axis=1)
X_predict = test_data.drop(['user_id','register_time'], axis=1)

In [6]:
X.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count
0,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,0.0,...,0,0,0,0,0,0,0,0.333333,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0.333333,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1.166667,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,3.166667,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,2.333333,0.0,0

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 33, test_size = 0.1)

In [8]:
lgb_train = lgb.Dataset(X_train, Y_train, free_raw_data=False)
lgb_eval = lgb.Dataset(X_test, Y_test, reference=lgb_train,free_raw_data=False)

In [7]:
print(lgb_train)

<lightgbm.basic.Dataset object at 0x000001FAD1BE7710>

In [9]:
params = {
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': 'square loss',
    'learning_rate': 0.003,
    'num_leaves':31,
    'max_bin':255,
    'min_data_in_leaf':100,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq':5,
    'lambda_l1': 0,
    'lambda_l2': 0,
    'min_split_gain': 0
 }

In [10]:
gbm = lgb.train(params,lgb_train,num_boost_round=3000)

In [11]:
predict =  gbm.predict(X_test, num_iteration=gbm.best_iteration)

In [ ]:
print(Y_train)

In [13]:
cost = metrics.mean_squared_error(Y_test, predict)
sqlrtcost = math.sqrt( cost )
print(sqlrtcost)

89.64812586686853

In [22]:
predict[ predict < 0.5 ] = 0
predict[ (0.5 < predict) & (predict < 1.5) ] = 0.99
predict[ (1.5 < predict) &  (predict < 2.5) ] = 1.98
predict[ (2.5 < predict) &  (predict < 3.5) ] = 2.97
print(predict)

[ 0.  0.  0. ...,  0.  0.  0.]

In [23]:
cost = metrics.mean_squared_error(Y_test, predict)
sqlrtcost = math.sqrt( cost )
print(sqlrtcost)

89.64813042273649

In [24]:


Y_predict =  gbm.predict(X_predict, num_iteration=gbm.best_iteration)
Y_predict[ Y_predict < 0.5 ] = 0
Y_predict[ (0.5 < Y_predict) & (Y_predict < 1.5) ] = 0.99
Y_predict[ (1.5 < Y_predict) &  (Y_predict < 2.5) ] = 1.98
Y_predict[ (2.5 < Y_predict) &  (Y_predict < 3.5) ] = 2.97

NameError: name 'test_train' is not defined

In [45]:
df = test_data[['user_id']]
df['prediction_pay_price'] = Y_predict

df['prediction_pay_price'].round(2)
df.to_csv("20180704.txt",index=None,sep=',')

C:\Users\cshua\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:
df

        user_id  prediction_pay_price
0         14933                  0.00
1         14934                  0.00
2         14935                  0.00
3         14936                  0.00
4         14937                  0.00
5         14938                  0.00
6         14939                  0.00
7         14940                  0.00
8         14941                  0.00
9         14942                  0.00
10        14943                  0.00
11        14944                  0.00
12        14945                  0.00
13        14946                  0.00
14        14947                  0.00
15        14948                  0.00
16        14949                  0.00
17        14950                  0.00
18        14951                  0.00
19        14952                  0.99
20        14953                  0.00
21        14954                  0.00
22        14955                  0.00
23        14956                  0.00
24        14957                  0.00
25        14958                  0.00
26        14959                  0.00
27        14960                  0.00
28        14961                  0.00
29        14962                  0.00
...         ...                   ...
828904  3176514                  0.00
828905  3176515                  0.00
828906  3176516                  0.00
828907  3176517                  0.00
828908  3176518                  0.00
828909  3176519                  0.00
828910  3176520                  0.00
828911  3176521                  0.00
828912  3176522                  0.00
828913  3176523                  0.00
828914  3176524                  0.00
828915  3176525                  0.00
828916  3176526                  0.00
828917  3176527                  0.00
828918  3176528                  0.00
828919  3176529                  0.00
828920  3176530                  0.00
828921  3176531                  0.00
828922  3176532                  0.00
828923  3176533                  0.00
828924  3176534                  0.00
828925  3176535                  0.00
828926  3176536                  0.00
828927  3176537                  0.00
828928  3176538                  0.00
828929  3176539                  0.00
828930  3176540                  0.00
828931  3176541                  0.00
828932  3176542                  0.00
828933  3176543                  0.00

[828934 rows x 2 columns]